#dropdown-basic {
    color: white;
}

.dropdown {
    background-color: black;
}

.btn {
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
    background-color: #10adeb;
    color: white;
    height: 75px;
    width: 250px;

}

.button-submit {
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
    background-color: #10adeb;
    color: white;
    height: 75px;
    width: 250px;
}

#dropdownMenuButton {
    color: #10adeb;
    background-color: white;


}

.Znlogo {
    width: 60px;
}


::-webkit-input-placeholder {
    color: #10adeb;
    font-size: 18pt;
}


input[type="text"] {
    -webkit-user-select: text;
    font-size: 25px;
}

.currencyinput {
    font-size: 20pt;
}

.box {
    padding: 0px 0px 20px 0px;
    width: 200px;
}

.label {
    font-size: 20pt;
    color: #10adeb;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form {
    margin-top: 10rem;
    border: 1px solid black;
}

.main-button {
    background-color: #10adeb;
    color: white;
    border: none;
    height: 50px;

}




@media only screen and (max-width: 539px) {
    .currencyinput {
        display: none;
    }

    .box {
        padding-left: 20px;
    }
}